Repository voxpupuli/puppet-openvmtools, pull requests merged in 2024-03, with the labels that each got.

#75 Remove Debian 7,8,9 and 10 from supported OS
  metadata.json
  spec/functions/supported_spec.rb
Labels: backwards-incompatible

#76 Remove Ubuntu 14.04, 16.04 and 18.04 from supported OS
  data/Debian.Ubuntu.14.04.yaml
  metadata.json
  spec/classes/openvmtools_init_spec.rb
Labels: backwards-incompatible

#80 Refactor unit test
  spec/classes/openvmtools_init_spec.rb
  spec/functions/supported_spec.rb
Labels: skip-changelog

#77 Add AlmaLinux 8 and Centos/Rocky/OracleLinux/AlmaLinux 9 to supported OS
  metadata.json
Labels: enhancement

#83 Document parameter supported
  README.markdown
  REFERENCE.md
  manifests/init.pp
Labels: docs

#84 Drop puppetlabs/yumrepo_core from dependencies
  metadata.json
Labels: bug

#81 Add Fedora 38 & 39 support
  metadata.json
Labels: enhancement
